@import url("https://cdn.jsdelivr.net/npm/@fontsource/firago/300.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/firago/350.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/firago/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/firago/500.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/firago/600.css");

:root {
  --color-grey-shades-headlines: #212529;
  --color-white: #ffffff;
  --color-mainpurple: #8338ec;
  --color-light-grayish-blue: #dee2e6;
  --color-hoverpurple: #b588f4;
  --color-grey-shades-blackish: #0d0f10;
  --color-background-blar: #0D0F1026;
  --color-mainyellow: #f7bc30;
  --color-vivid-orange: #ffbe0b;
  --color-mainorange: #fb5607;
  --pure-or-mostly-pure-pink: #ff006e;
  --very-dark-grayish-blue: #343a40;
  --color-mainpink: #ff66a8;
  --color-mainblue: #3a86ff;
  --color-maingray: #343a40;
  --color-textgray: #6c757d;
  --color-maingreen: #08a508;
  --color-mainred: #fa4d4d;
  --color-mainoutline: #ced4da;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  max-width: 1920px;
  min-height: 1080px;
  background-color: var(--color-white);
}

h1 {
  font-weight: 600;
  font-size: 34px;
  color: var(--color-grey-shades-headlines);
}

button,
input,
textarea,
select {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
}
