header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px 0;
  width: 100%;
}

nav {
  display: flex;
  gap: 40px;
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 20px;
  border: 1px solid var(--color-mainpurple);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-grey-shades-headlines);
}

nav button:hover {
  border: 1px solid var(--color-hoverpurple);
}

nav button:nth-child(2) {
  background-color: var(--color-mainpurple);
  color: var(--color-white);
}

nav button:nth-child(2):hover {
  background-color: var(--color-hoverpurple);
  border: none;
}
